:root {
  --ground-height: 130px;
}

html {
  overflow: hidden;
  width: 100%;
  height: 100%;
  perspective: 80vh;
}

.main,
.title {
  position: relative;
  z-index: 1;
}

#animation-ct {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#ground {
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 300%;
  height: var(--ground-height);
  background: url('/images/pattern.png') 50% 0 repeat;
  background-size: 150px;
  border-top: 10px solid #333;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.5) inset;
}

#sky {
  position: absolute;
  bottom: var(--ground-height);
  left: 0;
  width: 100%;
  height: 500px;
  background: linear-gradient(0deg, #ace 0%, #6df 35%, rgba(255,255,255,0) 100%);
}

#sun {
  position: absolute;
  right: 15%;
  top: 30%;
  display: flex;
  width: 15vw;
  height: 15vw;
  background: #f9d71c;
  border-radius: 50%;
}
#sun-inner {
  flex-grow: 1;
  background: url('/images/face-smile.png') 50% 60% no-repeat;
  background-size: 70% auto;
}

#mountains,
#mountains-far {
  position: absolute;
  bottom: var(--ground-height);
  left: -100%;
  width: 300%;
  height: 200px;
  background: url('/images/moutains.png') 50% 100% repeat-x;
}

#mountains {
  /*filter: invert(1) brightness(0.95);*/
  opacity: 0.2;
}

#mountains-far {
  height: 300px;
  background-size: auto 100%;
  filter: blur(3px);
  opacity: 0.1;
}

#boos {
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: var(--ground-height);
  width: 100%;
  height: calc(100vh - var(--ground-height));
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
}

.boo {
  display: flex;
}

.boo-inner {
  position: relative;
  top: 100%;
  margin: 0 2px;
  flex-grow: 1;
  background: rgba(255, 255, 255, 0.5) url('/images/face.png') 50% 30px no-repeat;
  background-size: 70% auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 10px 15px rgba(0, 0, 0, 0.3);
  border-radius: calc(100vw / 10);
}

#dust {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 100%;
  background: url('/images/dust.png') 0 0 repeat;
  background-size: 50vw auto;
}
